.clients-option
    height: 85px
    display: flex
    justify-content: center
    padding: 25px 0
    border-bottom: 3px solid #cfcdcd
    margin-bottom: 35px
    margin: 0 auto
    .type-view
        display: flex
        justify-content: flex-end
        button
            margin: 0 3px
            width: 30%
            border-radius: 0
    .search-option
        position: relative
        input
            background: #dceaf0
            border: 1px solid #b2d1de
        i
            position: absolute
            top: 8px
            right: 25px
            font-size: 20px
            color: #5c9db8
    .more-option
        select
            color: #ef8401
            font-weight: bold
            border: 1px solid #ef8401
            margin-right: 10px
        button
            background: #ef8401
            color: white
            font-weight: bold
.clients-date
    .date
        height: 100hv
        background: #dceaf0
        margin: 21px 7px
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
        grid-auto-rows: auto
        grid-gap: 1rem
        padding: 31px 3%
        .card-client
            border: 2px solid #e7e7e7
            padding: 0.5rem
            height: 115px
            cursor: pointer
            background-color: #f9f9f9
            border-top: 3px solid #ef8401
            box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 84px 54px rgba(0, 0, 0, 0.12)
            a
                text-decoration: none
                position: absolute
                padding: 6px 38px
                .card-name
                    color: #62c6d9
                    font-weight: bold
                .card-document
                    color: #000
                img
                    height: 50px
                    width: 50px
                    border-radius: 56px
                    margin: 5px 0px -2px -8px
                p
                    margin: 0
                    font-size: 14px
                    letter-spacing: 2px
                    text-transform: uppercase
                
    
// .box-search
//     display: flex
//     margin: 0
//     padding: 0
//     .search
//         position: relative
//         flex: 1
//         border-top: 1px solid $color-principal
//         border-bottom: 1px solid $color-principal
//         i
//             position: absolute
//             font-size: 20px
//             color: #fff
//             padding: 9px 22px
//             background: $color-principal
            
//         input
//             padding: 0px 70px
//             &:focus
//                 outline:none 

//     select
//         width: 200px
//         border: 1px solid #ced4da
//         color: #000
//         font-weight: bold
//         border: 1px solid $color-principal
// .clients
//     display: grid
//     grid-template-columns: repeat(auto-fill, minmax(140px, 1fr))
//     grid-auto-rows: auto
//     grid-gap: 1rem
//     padding: 31px 3%
//     .new
//         display: flex
//         flex-direction: column
//         justify-content: center
//         h1
//             font-size: 26px
//             text-align: center
//             font-weight: bold
//             color: #7a7878 
//         i
//             text-align: center
//             font-size: 70px
//             margin-bottom: 20px
//             color: #7a7878
//     .card-client
//         border: 2px solid #e7e7e7
//         padding: .5rem
//         height: 190px
//         cursor: pointer
//         background-color: $color-principal
//         a
//             text-decoration: none
//             position: absolute
//             padding: 50px 45px
//             img
//                 height: 85px
//                 width: 85px
//                 border-radius: 56px
//                 margin: -10px 0px 11px 7px
//             p
//                 text-align: center
//                 margin: 0
//                 font-size: 14px
//                 letter-spacing: 2px
//                 text-transform: uppercase
//                 color: #fff