.evaluations
    .loans
        h1
            font-size: 1.3rem
            background: $bg-general
            margin: 0
            padding: 7px 10px 
    .file
        .row
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
            grid-gap: 1rem
            .files
                height: 200px
                background: #d8d8d8
                position: relative
                cursor: pointer
                .eye
                    position: absolute
                    right: 10px
                    top: 5px
                a
                    color: #000
                    position: absolute
                    width: 100%
                    height: 200px
                    .file-one
                        position: absolute
                        top: 68px
                        left: 85px
                        font-size: 50px
                p
                    position: absolute
                    left: 74px
                    bottom: 30px
            .file-type
                height: 240px
                position: relative
                .type
                    position: relative
                    button
                        width: 100%
                        margin-bottom: 10px
                        color: #212529
                    img
                        width: 100%
                        object-fit: fill
                        height: 200px
                    p
                        text-align: center
                        padding: 7px 0
                        background: #fff
                        color: #000!important
                        position: absolute
                        top: 190px
                        width: 100%
                        box-shadow: 0 1px 5px rgba(50,50,50,.1)
                        border: 1px solid #e0e0e0
                    .mask
                        box-shadow: 0 1px 5px rgba(50,50,50,.1)
                        border: 1px solid #e0e0e0
                        background-color: #fff
                        flex: 0 0 auto
                        margin: 8px
                        border-radius: 4px
                        overflow: hidden
                        transition: opacity .2s ease-in-out
                        position: absolute
                        height: 145px
                        width: 100%
                        top: 34px
                        left: -8px
                        display: flex
                        justify-content: center
                        svg
                            width: 40% !important
                            fill: #f44336 !important
    .loan-date
        background: #d8d8d8


    .views
        height: calc(100vh - 66px)
        border-left: 2px solid $accent
        .title
            padding: 15px 10px
            border-bottom: 2px solid $accent
            h1
                font-size: 1.3rem
                font-size: 19px
                margin: 0
                font-weight: bold
        .sub-title
            border-bottom: 2px solid $accent
            padding: 5px 13px
            h1
                font-weight: bold
                font-size: 19px
                margin: 0
        .views-list
            .clients-view
                border-bottom: 1px solid $accent
                cursor: pointer
                transition: all $duration-transition ease-in-out
                .date-client
                    padding: 10px 13px
                    p
                        transition: all $duration-transition ease-in-out
                        margin: 0 !important
                .map
                    text-align: center
                    display: flex
                    flex-direction: column
                    justify-content: center
                    i
                        transition: all $duration-transition ease-in-out
                        font-size: 22px
                        margin-top: -7px
                &:hover
                    background: $color-dark
                    .date-client
                        p
                            color: #fff !important
                    .map
                        i
                            color: #fff !important
    .info
        margin: 15px 0  
        .row
            .col-md-3
                height: 100px
                background: $bg-general
                border-right: 1px solid $accent
                cursor: pointer
                .icon
                    i
                        font-size: 50px
                .text
                    p
                        margin: 0
                    .title
                        font-size: 20px
    .ratios
        .title-table
            background: #171b26
            color: #fff
        tr
            td
                font-size: 10px
    .balance
        .title-table
            background: #171b26
            color: #fff
        tr
            td
                font-size: 10px
    .cuantitativa
        .title-table
            background: #171b26
            color: #fff
            padding: 4px 10px
        tr
            td
                font-size: 10px

    