.file-loan
    .files
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
        grid-auto-rows: auto
        grid-gap: 1rem
        padding: 31px 3%
        .file-type
            height: 280px
            .type
                position: relative
                button
                    width: 100%
                    background: #212529
                    margin-bottom: 10px
                    color: #fff
                img
                    width: 100%
                    object-fit: fill
                    height: 200px
                p
                    text-align: center
                    padding: 7px 0
                    background: #484d53
                    color: #fff!important
                    position: absolute
                    top: 247px
                    width: 100%
                .mask
                    width: 100%
                    background: rgba(138, 138, 138, 0.91)
                    height: 200px
                    position: absolute
                    top: 47px
                    cursor: pointer
                    i
                        position: absolute
                        font-size: 68px
                        left: 96px
                        top: 55px