.container-general 
    header
        display: flex
        height: 40px
        border: 1px solid $color-principal
        margin-bottom: 20px 
        span
            cursor: pointer
            
            i
                padding: 10px 27px
                font-size: 20px
                background: $color-principal
                color: #fff
                transition: $duration-transition
                &:hover
                    background: $color-principal-darck
                    color: #fff
        h1
            margin: 9px 8px
            font-size: 21px
            color: $color-principal
.btn-crecer
    background: $color-principal
    border: 1px solid $color-principal
    color: #fff !important
    transition: $duration-transition
    &:hover
        background: $color-principal-darck
        border: 1px solid $color-principal-darck
        color: #fff !important
.letter-5
    letter-spacing: 5px

