.loan
    .content
        width: 100%
        .loan-cliente,.loan-aval,.loan-garantia,.loan-propuesta
            .row
                margin: 0
                padding: 0 50px
            .titulo-prestamo-menu
                border-bottom: 1px solid
                p
                    width: 100%
                    margin: 0
                i
                    color: #F44336
                    font-size: 25px
            .form-group
                margin-bottom: 1px
            .more-option
                width: 100%
                margin: 15px 0
            .btn-sm
                height: 35px
            .input-mask
                letter-spacing: 3px
