.loan
    .content
        width: 100%
        .loan-cliente,.loan-aval,.loan-garantia,.loan-propuesta
            .row
                margin: 0
            .titulo-prestamo-menu
                padding: 4px 4px
                background: #dcdcdc
                margin: 12px 0
                p
                    width: 100%
                    margin: 0
                i
                    font-size: 25px
                    position: absolute
                    right: 0
                    background: $color-principal
                    padding: 7px 15px
                    top: 0
                    color: #fff
                    cursor: pointer
            .form-group
                margin-bottom: 1px
            .more-option
                width: 100%
                margin: 15px 0
            .btn-sm
                height: 35px
            .input-mask
                letter-spacing: 3px
