.profile
    .date-customer
        background: $accent
        .image-profile
            padding: 10% 0%
            img
                height: 150px
                width: 150px
                border-radius: 75px
                object-fit: fill
        .date-profile
            h1
                font-size: 25px
    .body-loans
        .loans
            height: 165px
            background: $accent
            margin-bottom: 20px