.tabs_section
    padding: 20px 20px 10px 20px
    box-sizing: border-box
    .tabs_wrapper
        display: flex
        align-items: center
        justify-content: space-between
        background-color: white
        box-shadow: $shadow
        border: 1px solid $line_color
        border-radius: 4px
        overflow: hidden
        height: 50px
        .tab
            flex: 1
            flex-basis: 0
            display: flex
            align-items: center
            justify-content: center
            border-right: 1px solid $line_color
            height: 100%
            cursor: pointer
            border-bottom: 2px solid transparent
            user-select: none
            &:last-child
                border-right: none
            &.complete
                span
                    color: transparent
                    border: 1px solid $primary_color
                    background-color: $primary_color
                    &:before
                        font-family: "Material Icons"
                        content: "\e5ca"
                        font-size: inherit
                        text-rendering: auto
                        -webkit-font-smoothing: antialiased
                        font-size: 12px
                        margin-left: 7px
                        color: white
                p
                    color: $primary_color
            &.selected
                span
                    color: white
                    background-color: $primary_color
                    border: 1px solid $primary_color
                p
                    color: $primary_color
            span
                display: flex
                align-items: center
                justify-content: center
                width: 25px
                height: 25px
                border-radius: 50%
                border: 1px solid rgba($text_color, .25)
                font-weight: 700
                color: rgba($text_color, .5)
                font-size: 12px
            p
                margin: 0
                font-size: 12px
                font-weight: 700
                margin-left: 10px
                color: rgba($text_color, .5)
                margin-bottom: -1px

.client_forms
    padding: 0 20px
    box-sizing: border-box
    .client_forms_wrapper
        position: relative
        .form_step
            width: 100%
            h3.title
                font-size: 12px
                margin: 0
                width: 100%
                border-bottom: 1px solid $line_color
                font-weight: 700
                padding: 7px 20px
                display: flex
                align-items: center
                justify-content: space-between
                min-height: 30px
                text-transform: uppercase
                .delete_section
                    border: none
                    background-color: transparent
                    display: flex
                    align-items: center
                    &:active, &:focus
                        outline: none
                    i
                        font-size: 19px
                        margin-bottom: -1px
            .form_step_wrapper
                background-color: white
                box-shadow: $shadow
                box-sizing: border-box
                border: 1px solid $line_color
                border-radius: 4px
                overflow: hidden
                &.in_bottom
                    margin-top: 10px
                .form_content
                    padding: 20px
                    .separator
                        display: block
                        width: 100%
                        height: 1px
                        background-color: $line_color
                        margin: 20px 0
                    .message_form
                        background-color: rgba($primary_color, .05)
                        color: $primary_color
                        font-weight: 500
                        border-radius: 3px
                        min-height: 45px
                        display: flex
                        align-items: center
                        font-size: 12px
                        padding: 10px 20px
                        box-sizing: border-box
                        border-left: 3px solid $primary_color
                    .group_form
                        display: grid
                        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))
                        grid-gap: 10px
                        &.all
                            margin-top: 10px
                        &.small
                            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
                        .input_box
                            &.no_label
                                margin-top: 10px
                            & > label
                                font-family: $font
                                font-weight: 500
                                font-size: 11px
                                margin-bottom: 4px
                                display: block
                            .input_box_wrapper
                                display: grid
                                align-items: center
                                grid-template-columns: repeat(auto-fit, minmax(170px, 1fr))
                                grid-gap: 10px
                                .input_checkbox_wrapper
                                    height: 40px
                                    input
                                        &:checked + label.box_content
                                            border: 1px solid $primary_color
                                            color: $primary_color
                                            font-weight: 600
                                    & > label.box_content
                                        border: 1px solid rgba(0, 0, 0, 0.2)
                                        height: 100%
                                        border-radius: 3px
                                        display: flex
                                        align-items: center
                                        padding: 0 20px
                                        box-sizing: border-box
                                        margin-bottom: 0
                                        span
                                            margin-left: 10px
                .detail_content
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    grid-gap: 1px
                    background-color: $bg_color
                    li
                        list-style: none
                        padding: 10px 20px
                        background-color: #fff
                        strong
                            font-size: 11px
                            color: rgba($text_color, .77)
                        p
                            margin: 0
                            margin-top: 2px
                            font-size: 12px
            .form_list
                &.no_border
                    .sub_step_wrapper:first-child
                        border-top: none
                .sub_step_wrapper
                    border-top: 1px solid $line_color
                    &.no_border
                        border-top: none
                .form_step_wrapper
                    border-top: 1px solid $line_color
            .form_buttons
                display: flex
                align-items: center
                justify-content: flex-end
                margin: 10px 0
                a
                    width: 160px
                    &.prev
                        background-color: #fff
                        width: 140px
                        margin-right: 10px
            .add_section
                width: 100%
                height: 45px
                display: flex
                justify-content: center
                align-items: center
                border: 0
                background-color: #fff
                border-top: 1px solid $line_color
                &:focus, &:active
                    outline: none
                &.no_border
                    border-top: none
                &.in_bottom
                    margin-top: 10px
                    border: 1px solid $line_color
                    border-radius: 4px
                    box-shadow: $shadow
                span
                    font-weight: 700
                    font-size: 12px
                    color: $primary_color
                    margin-bottom: -2px
                i
                    color: $primary_color
                    margin-left: 10px
                
@media screen and (max-width: 1020px)
    .tabs_section
        .tabs_wrapper
            .tab
                span
                    display: none
                p
                    font-size: 11px
                    margin-left: 0px

@media screen and (max-width: 720px)
    .tabs_section
        .tabs_wrapper
            .tab
                border-bottom: none 
                border-bottom: 2px solid transparent
                span
                    display: flex
                    border: none
                    font-size: 14px
                &.selected
                    border-bottom: 2px solid $primary_color
                    span
                        background-color: transparent
                        color: $primary_color
                        border: none
                p
                    display: none

@media screen and (max-width: 500px)
    .tabs_section
        padding: 0 0 15px 0
        border: none
        position: sticky
        top: 55px
        z-index: 7
        .tabs_wrapper
            border-radius: 0
            border: none
            border-bottom: 1px solid $line_color
            height: 40px
    .client_forms
        padding: 0 15px

@media screen and (max-width: 400px)
    .client_forms
        .client_forms_wrapper
            .form_step
                .form_step_wrapper
                    .form_content
                        .group_form
                            grid-template-columns: 1fr
                            &.small
                                grid-template-columns: 1fr
                .form_buttons
                    display: grid
                    grid-template-columns: 50px 1fr
                    grid-gap: 10px
                    width: 100%
                    margin-bottom: 15px
                    &.all
                        grid-template-columns: 1fr
                    a
                        width: 100%
                        height: 45px
                        &.prev
                            width: 100%
                            span
                                display: none