// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$card-color:#d9dde3;

$accent:#c6d0da;
$color-text:#7c7c7c;
$color-dark:#2c2929;

$duration-transition: 0.5s;
$bg-general: #e7e5e5;

$color-principal: #171b26;
$color-principal-darck: #30374a;


// new vars
$font: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary_color: #0061FF;
$require_color: #FF003D;
$highlight_color: #FF8A00;
$bg_color: #f6f9fd;
$line_color: darken(#f6f9fd, 2%);
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
$shadow_hover: 0px 4px 15px rgba(0, 0, 0, 0.07);
$text_color: black;