.loans-views
    .views
        h1
            font-size: 1.3rem
            background: $bg-general
            margin: 0
            padding: 7px 10px
        table
            th
                height: 45px
                font-size: 20px
            tr
                border: 1px solid $accent
                text-align: center
    .new-view
        padding: 2% 4%
        .image
            background: #e0e0e0
        .documento-input
            letter-spacing: 6px