@import '~bootstrap/scss/bootstrap';
@import "vue-select/src/scss/vue-select.scss";

@import 'variables';
@import 'animations';
@import 'inputs';
@import 'buttons';
@import 'tables';
@import 'tabs';
@import 'modal';
@import 'components';

html {
  scroll-behavior: smooth;
}

body{
  background: $bg_color;
  font-family: $font;
  margin: 0;
}

.no_scroll::-webkit-scrollbar {
    display: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

  
