// Fonts
// @import url('./fonts/aventure/stylesheet.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "vue-select/src/scss/vue-select.scss";
//FontAwesome
$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import 'menu';
@import 'clients';
@import 'profile';
@import 'grid-profile'; 
@import 'home';
@import 'loan';
@import 'view';
@import 'evaluacion';
@import 'file';
@import 'general';

@import 'variables';
@import 'animations';
@import 'tables';
@import 'tabs';


body{
  background: $bg_color;
  font-family: $font;
}

 

/** PERFIL **/
.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.profile-username{
    font-size: 15px;
        margin-top: 13px;

}
.img-circle {
    border-radius: 50%;
}
.img-fluid {
    max-width: 100%;
    height: 100px;
}

/**LOADIN  PROFILE DATE*/
.loader-profile{
    background: #dddddd;
    border-radius: 15px;
}


.scroll-style {
    &::-webkit-scrollbar {
      width: 7px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 4px;
      &:active {
        background-color: #999999;
      }
  
      &:hover {
        background: #c4c4c4;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  
    &::-webkit-scrollbar-track {
      background: #e1e1e1;
      border-radius: 4px;
  
      &:hover, &:active {
        background: #d4d4d4;
      }
    }
  }

  .tree-structure{
    list-style: none;
    clear: both;
    padding-left: 15px;
  }
  .tree-structure li {
    position: relative;
  }
  .tree-structure li a{
    color: #171b26;
    text-decoration: none;
    font-weight: 100;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: calc(100% - 50px);
    vertical-align: top;
  }
  .tree-structure li a:hover{
    padding-left: 5px;
  }
  .tree-structure > li > .num{
    display: inline-block;
    background: #333;
    min-width: 24px;
    text-align: center;
    padding: 3px 9px;
    margin-right: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 10px;
  }
  .tree-structure > li > .num-tree:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 85%;
    background-color: #939393;
    top: 25px;
    left: 12px;
    z-index: 1;
  }
  .tree-structure > li:last-child > .num:after{	
    height: calc(100% - 44px);
  }
  .tree-structure ol{
    padding: 2px 0 2px 30px;
  }
  .tree-structure ol li{
    list-style-type: none;
    // padding: 8px 0
  }
  .tree-structure ol li .num{
    position: relative;
  }
  .tree-structure ol li a{
    color: #000;
  }

  .tree-structure .num{
    background-color: #666;
    min-width: 24px;
    text-align: center;
    margin-right: 10px;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  .tree-structure  ol  li .num:before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 100%;
    margin: auto;
    width: 17px;
    height: 1px;
    background-color: #939393!important;
  }



  
